div.test5 {
  background-color: rgba(169, 169, 169, 0);
  padding: 1px;
  text-align: center;
  color: rgb(0, 0, 0);
}

@media screen and (min-width: 601px) {
  div.test5 {
    font-size: 50px;
  }
}

@media screen and (max-width: 600px) {
  div.test5 {
    font-size: 30px;
  }
}
div.color{
  color: #ffff
}